
<!-- <a style="font-size: 48px;text-decoration: none; color: white;" href="{% url 'dashboard-index' %}"> <p style="text-align: center;margin-top: 35px;">ESI</p></a> -->
<a class="mx-auto"  href="{% url 'dashboard-index' %}"><img class="image" src="https://lria.usthb.dz/sites/default/files/inline-images/USTHB_Logo%20WHITE.png" alt="usth fucking b" ></a>


<nav class="mx-auto" style="margin-top: 1rem; color: white; width: 80vw; ">
    <!-- <a class="navbar-brand text-white" href="#">ESI</a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="shadow-lg " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto  text-white d-flex flex-row justify-content-around"style=" background-color: #81A1C1; border-radius: 35px 35px;">
        <!-- <li class="nav-item active">
          <a class="nav-link text-white" href="{% url 'dashboard-index' %}"> Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class=" active items stage" style="padding-left: 5%;border-radius: 35px 0 0 35px  ;">

          <a class="nav-link text-white  "  href="{% url 'dashboard-Stage' %}">Stages</a>
        </li>
        <li class=" active items group">
          <a class="nav-link text-white text-lg" href="{% url 'dashboard-Group' %}">Groupes</a>
        </li>
        <li class=" active items stagier">
          <a class="nav-link text-white text-lg"  href="{% url 'dashboard-Stagier' %}">Stagiers</a>
        </li>
        <li class="active items encadreur">
          <a class="nav-link text-white text-lg"href="{% url 'dashboard-encadreur' %}">Encadreurs</a>
        </li>
        <li class="active items promoteur">
          <a class="nav-link text-white text-lg" href="{% url 'dashboard-promoteur' %}">Promoteurs</a>
        </li>
        <li class=" active items Organisme" style="padding-right: 5%;border-radius: 0 35px  35px 0  ;">
          <a class="nav-link text-white text-lg" href="{% url 'dashboard-Organisme' %}">Organismes </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Stage
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item  " href="{% url 'dashboard-Stage' %}">Stages</a>
            <a class="dropdown-item" href="{% url 'dashboard-Group' %}">Groupes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'dashboard-Stagier' %}">Stagiers</a>
            <a class="dropdown-item" href="{% url 'dashboard-encadreur' %}">Encadreurs</a>
            <a class="dropdown-item" href="{% url 'dashboard-promoteur' %}">Promoteurs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'dashboard-Organisme' %}">Organisme</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>
  <style>
    .items{
      text-align: center;
      flex: 1;
      padding: 5px 0;
      font-size: 20px!important;
      transition: 0.3s;
    }
    .items:hover{
      background-color: #88C0D0;
      
    }
    .image{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 105px;
    }
  </style>
    
  </div>
</nav>
