{% load crispy_forms_tags %}
{% block content %}  
<div>
    <div class=" p-3 ">
        <h3 class="text-center">Editer Encadreur</h3>
      <hr style="background: rgb(236, 239, 244)"/>
        <form method="POST" class="form2" action="{% url 'dashboard-encadreur-edit' item.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn ModalDelete" href="{% url 'dashboard-encadreur' %}">Cancel</a>
            <button
          class="btn ModalEdit"
          id="delete"
          type="submit"
          value="Confirm">
        Confirm
        </button>
        </form>
    </div>
</div>
{% endblock %}