
{% load crispy_forms_tags %}
{% block content %}  
<div class="">
    <div class="">
        <h3>Edit Item</h3>
        <hr>
        <form method="POST" class="form2" action="{% url 'dashboard-Group-edit' item.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn ModalDelete " href="{% url 'dashboard-Group' %}">Cancel</a>
            <button
            class="btn ModalEdit"
            id="delete"
            type="submit"
            value="Confirm">
          Confirm
          </button>
        </form>
    </div>
</div>
{% endblock %}