{% block title %}Supprimer Organisme{% endblock %}
{% load crispy_forms_tags %}
{% block content %}  

            <h3 class="text-center"> <i class=" px-2 fas fa-exclamation-triangle"></i>Delete Stage</h3>
      <hr style="background: rgb(236, 239, 244)"/>
            <form method="POST" class="form2 text-center" action="{% url 'dashboard-Organisme-delete' item.id %}">
                <div class="">
                    <h4> voulez vous vraiment supprimer l'eregistrement? {{ item }}?</h4>
                </div>
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn ModalEdit" href="{% url 'dashboard-Organisme' %}">Cancel</a>
                <button
                class="btn ModalDelete"
                id="delete"
                type="submit"
                value="Confirm">
              Confirm
              </button>
            </form>
  
{% endblock %}