{% load crispy_forms_tags %} {% block content %}

<h3 class="text-center">
  <i class="px-2 fas fa-exclamation-triangle"></i>Delete Promoteur
</h3>
<hr style="background: rgb(236, 239, 244)"/>
<form
  method="POST"
  class="form2 text-center"
  action="{% url 'dashboard-promoteur-delete' item.id %}"
>
  <div class="">
    <h4>voulez vous vraiment supprimer l'eregistrement? {{ item }}?</h4>
  </div>
  {% csrf_token %} {{ form|crispy }}
  <a class="btn ModalDelete" href="{% url 'dashboard-promoteur' %}">Cancel</a>
  <button class="btn ModalEdit" type="submit" value="Confirm">Confirm</button>
</form>

{% endblock %}
