{% extends 'partials/base.html' %} {% block title %}Promoteur Page{% endblock %}
{% load crispy_forms_tags %} {% block content %}
<div
  class="modal fade row"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content mx-2" style="border-radius: 25px">
      <div class="modal-body my-modal">
        <div class="">
          <div class="mx-4">
            <h3 class="text-center">Ajouter Promoteur</h3>
            <hr style="background: rgb(236, 239, 244)" />
            <form method="POST" class="form2">
              {% csrf_token %} {{ form|crispy }}
              <button class="btn ModalEdit" type="submit" value="Add">
                <i class="fa fa-plus"></i> Add
              </button>
              <button
                type="button"
                class="btn ModalDelete"
                data-dismiss="modal"
              >
                <i class="fa fa-times"></i>
                Close
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade row"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content mx-2" style="border-radius: 25px">
      <div class="modal-body my-modal" id="editbody"></div>
    </div>
  </div>
</div>
<div
  class="modal fade row"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content mx-2" style="border-radius: 25px">
      <div class="modal-body my-modal">{% csrf_token %}</div>
    </div>
  </div>
</div>
<div class="text-center my-4">
  <div>
    <div class="text-center mb-4">
      <div>
        <form method="get" class="form theform">
          {{myFilter.form}}

          <button class="button" type="submit">
            <i class="fa fa-search"></i> Search
          </button>
        </form>
      </div>
    </div>
    <div
      class="shadow holder"
      style="
        height: 550px;
        overflow: scroll;
        background: rgb(41, 46, 57);
        border-radius: 20px;
        opacity: 86% !important;
      "
    >
      <table class="table bg-white">
        <thead class="bg-info text-white">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Organisme</th>
            <th scope="col">Telephone</th>
            <th scope="col">Email</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>{{ item.nomPromoteur }}</td>
            <td>{{ item.prenomPromoteur }}</td>
            <td>{{ item.idOrganisme }}</td>
            <td>{{ item.numeroTelephonePromoteur }}</td>
            <td>{{ item.emailPromoteur }}</td>
            <td>
              <a
                class="btn  mr-2 ModalEdit"
                data-popup-url="{% url 'dashboard-promoteur-edit' item.id %}"
                data-toggle="modal"
                data-target="#editModal"
                ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Edit</a
              >
              <a
                class="btn  ml-2 ModalDelete"
                data-popup-url="{% url 'dashboard-promoteur-delete' item.id %}"
                data-toggle="modal"
                data-target="#deleteModal"
                ><i class="fa fa-trash" aria-hidden="true"></i>   Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <style>
    .promoteur {
      background-color: #88c0d0;
    }
  </style>
  <button
  type="button"
    class="btn text-center mt-3 Ajouter"
    data-toggle="modal"
    style="font-size: 20px"
    data-target="#addModal"
  >
  <i class="fa fa-plus"></i>
    Ajouter Promoteur
  </button>
</div>
<script>
  $(".ModalEdit").on("click", function (e) {
    var $popup = $("#editModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
      $popup.modal("show");
    });
  });
  $(".ModalDelete").on("click", function (e) {
    e.preventDefault();
    var $popup = $("#deleteModal");
    var popup_url = $(this).data("popup-url");

    $(".modal-body", $popup).load(popup_url, function () {
      $popup.modal("show");
    });
  });
  $(".theform input")[0].setAttribute("placeholder", "  Nom Promoteur");
  $(".theform input")[1].setAttribute("placeholder", "  Nom Promoteur");

  $(".theform select")[0][0].innerHTML = "Nom Organisme";
</script>
{% endblock %}
