{% extends 'partials/base.html' %} {% block title %}Stage Page{% endblock %}
{%load crispy_forms_tags %} {% block content %}
<!-- Modal -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="border-radius: 20px"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content mx-2" style="border-radius: 25px">
      <div class="modal-body my-modal ">
        <div class="">
          <div class=" mx-4">
            <h3 class="text-center">Ajouter Stage</h3>
            <hr style="background: rgb(236, 239, 244)" />
            <form method="POST" class="form2">
              {% csrf_token %} {{ form|crispy }}
              <button class="btn ModalEdit" type="submit" value="Add" >   <i class="fa fa-plus"></i> Add</button>
              <button
                type="button"
                class="btn  ModalDelete"
                data-dismiss="modal"
              ><i class="fa fa-times"></i>
                Close
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .form2 button{
      margin: 8px;
      text-align: center!important;
    }
    .form2 label {
      /* display: none; */
      font-weight: 500;

      color: #eceff4;
      font-size: 1.3rem;

      transition: 0.25s ease;
    }
    .form2 option {
      font-weight: 500;
      color: #eceff4;
      opacity: 0.7;
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 60px;
      text-shadow: 2px 2px 4px white;
    }
    .form2 select {
      outline-style: none;
      border: 1px solid transparent;
      color: rgb(236, 239, 244);
      border-radius: 4px;

      background-color: rgb(46, 52, 64);
      /* background: #81A1C1; */
      font: inherit;
      font-size: 1.125rem;
      padding: 4px 50px;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
      transition: border-color 100ms ease-in-out 0s, color 400ms ease-in-out 0s,
        background-color 400ms ease-in-out 0s;
      text-align: center;
    }
    .form2 select:focus {
      background-color: rgb(46, 52, 64);
      color: rgb(236, 239, 244);
    }
    .form2 input {
      outline-style: none;
      border: 1px solid transparent;
      color: rgb(236, 239, 244);
      border-radius: 4px;

      background-color: rgb(46, 52, 64);

      font: inherit;
      font-size: 1.125rem;
      padding: 4px;
      /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); */
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgb(236, 239, 244);

      /* text-align: center; */
    }
    .form2 input:focus {
      background-color: rgb(46, 52, 64);
      outline: none !important;
      border: 1px solid transparent;
      color: rgb(236, 239, 244);
      border-bottom: 1px solid rgb(236, 239, 244);
    }

  </style>
</div>
<div
  class="modal fade row"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content mx-2"  style="border-radius: 25px">
      <div class="modal-body my-modal " id="editbody"></div>
    </div>
  </div>
  
</div>
<div
  class="modal fade row"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content mx-2"style="border-radius: 25px">
      <div class="modal-body my-modal">{% csrf_token %}</div>
    </div>
  </div>
</div>
<div class="text-center my-4">
  <div>
    <div class="text-center mb-4">
      <form method="get" class="form theform" >
        {{myFilter.form}}

        <button class="button" type="submit">
          <i class="fa fa-search"></i> Search
        </button>
      </form>
    </div>
    <div
      class="shadow holder"
      style="
        height: 550px;
        overflow: scroll;
        background: rgb(41, 46, 57);
        border-radius: 20px;
        opacity: 86% !important;
      "
    >
      <table class="table mb-0" style="border-radius: 50px">
        <thead class="table-head" style="position: sticky; top: 0">
          <tr>
            <th scope="col">Nom Stage</th>
            <th scope="col">Type Stage</th>
            <th scope="col">id Promoteur</th>
            <th scope="col">option</th>
          </tr>
        </thead>

        <tbody>
          {% for item in items %}
          <tr>
            <td>{{ item.nomStage }}</td>
            <td>{{ item.typeStage }}</td>
            <td>{{ item.idPromoteur }}</td>
            <td>
              <a
                class="btn btn-sm mr-2 ModalEdit"
                data-popup-url="{% url 'dashboard-Stage-edit' item.id %}"
                data-toggle="modal"
                data-target="#editModal"
              >
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a
              >
              <a
                class="btn btn-sm ml-2 ModalDelete"
                data-popup-url="{% url 'dashboard-Stage-delete' item.id %}"
                data-toggle="modal"
                data-target="#deleteModal"
                ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <button
    type="button"
    class="btn text-center mt-3 Ajouter"
    data-toggle="modal"
    style="font-size: 20px"
    data-target="#addModal"
  >
    <i class="fa fa-plus"></i>
    Ajouter Stage
  </button>
</div>
<style>
  .stage {
    background-color: #88c0d0;
  }
  .form {
    background: transparent;

    height: 60px !important;
    padding: 0.5em;
    height: 320px;

    border-bottom: 1px solid #d8dee9;

    transition: all 0.2s ease-in-out;
    opacity: 95%;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }
  .form label {
    display: none;
    font-weight: 500;
    /* color: rgb(76, 86, 106); */
    color: #eceff4;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .form option {
    font-weight: 500;
    color: #eceff4;
    opacity: 0.7;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px white;
  }
  .form input {
    outline-style: none;
    border: 1px solid transparent;
    color: rgb(236, 239, 244);
    border-radius: 4px;
    /* padding: 0.5em 1em 0.5em 2em; */
    background-color: rgb(46, 52, 64);
    /* background: #81A1C1; */
    font: inherit;
    font-size: 1.125rem;
    padding: 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    transition: border-color 100ms ease-in-out 0s, color 400ms ease-in-out 0s,
      background-color 400ms ease-in-out 0s;
    /* text-align: center; */
  }
  .form select {
    outline-style: none;
    border: 1px solid transparent;
    color: rgb(236, 239, 244);
    border-radius: 4px;

    background-color: rgb(46, 52, 64);
    /* background: #81A1C1; */
    font: inherit;
    font-size: 1.125rem;
    padding: 4px 50px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    transition: border-color 100ms ease-in-out 0s, color 400ms ease-in-out 0s,
      background-color 400ms ease-in-out 0s;
    text-align: center;
  }
  .button {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    border-radius: 0.25em;
    background: none rgb(136, 192, 208);
    padding: 0.45em 1em;
    user-select: none;
    line-height: 1.15;
    color: rgb(59, 66, 82);
  }
  .button:hover {
    transition: background-color 200ms ease-in 0s, border-color 200ms ease-in 0s,
      box-shadow 200ms ease-in 0s, color 200ms ease-in 0s;
  }
  table {
    border-radius: 50px !important;
    background: transparent !important;
  }

  tbody {
    background: rgb(41, 46, 57);
    border-top: none;
    color: #eceff4 !important;
  }
  table td {
    padding: 0.95em !important;
    border-bottom: 1px solid #eceff4 !important;
    vertical-align: middle !important;
    font-size: 1em;
  }
  table th {
    padding: 0.65em !important;
    font-size: 1.1em;
    border-top: 0px !important;
    vertical-align: middle !important;
  }
  .table thead th {
    border-bottom: 0px;
    /* border-radius: 50px; */
    color: #eceff4 !important;
    background: #5e81ac;
  }
  .head {
    border-radius: 50px;
    background: #bf616a;
  }
  .ModalEdit {
    color: #eceff4 !important;
    background: #8fbcbb;
    font-size: 17px;
  }
  .ModalDelete {
    color: #eceff4 !important;
    background: #bf616a;
    font-size: 17px;
  }
  .Ajouter {
    color: rgb(59, 66, 82) !important;
    background: rgb(136, 192, 208);
  }
  .holder::-webkit-scrollbar {
    display: none;
  }
  .my-modal {
    background-color: rgb(41, 46, 57);
    color: #eceff4 !important;
    border-radius: 20px;
  }
</style>
<script>
  $(".ModalEdit").on("click", function (e) {
    e.preventDefault();
    var $popup = $("#editModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
      $popup.modal("show");
    });
  });

  $(".ModalDelete").on("click", function (e) {
    e.preventDefault();
    var $popup = $("#deleteModal");
    var popup_url = $(this).data("popup-url");

    $(".modal-body", $popup).load(popup_url, function () {
      $popup.modal("show");
    });
  });

  $(".theform input")[0].setAttribute("placeholder", '  Nom Stage');
    $(".theform select")[0][0].innerHTML = 'Type De Stage';
</script>
{% endblock %}
