
{% load crispy_forms_tags %}
 {% block content %}
<div class="row my-4">
  <div class="col-md-6 offset-md-3">
    <div class="border p-3 bg-white">
      <h3>Edit Item</h3>
      <hr />
      <form method="POST" action="{% url 'dashboard-Stage-edit' item.id %}"  >
          {% csrf_token %} {{ form|crispy }}
        <a class="btn btn-secondary btn-sm" href="{% url 'dashboard-Stage' %}"
          >Cancel</a
        >
        <input
          class="btn btn-danger btn-sm"
          id="delete"
          type="submit"
          value="Confirm"
         
        />
      </form>
    </div>
  </div>
</div>
<script>
  
</script>
{% endblock %}
