{% extends 'partials/base.html' %} {% block title %}Stage Page{% endblock %}
{%load crispy_forms_tags %} {% block content %}
<!-- Modal -->
<div
  class="modal fade row"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <div class="">
          <div class="card card-body">
            <h5>Ajouter Stage</h5>
            <hr />
            <form method="POST">
              {% csrf_token %} {{ form|crispy }}
              <input class="btn btn-success" type="submit" value="Add" />
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade row"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="editbody"></div>
    </div>
  </div>
</div>
<div
  class="modal fade row"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{% csrf_token %}</div>
    </div>
  </div>
</div>
<div class="text-center my-4">
  <div>
    <div class="text-center mb-4">
      <form method="get" class="form">
        {{myFilter.form}}

        <button class="button" type="submit">Search</button>
      </form>
    </div>
    <div style="height: 550px; overflow: scroll; background:#ECEFF4 ; border-radius: 50px;opacity: 86%!important;">
      <table class="table  mb-0 "style="border-radius: 50px;">
        <thead class="table-head" style="position: sticky; top: 0">
            <tr>
              <th scope="col">Nom Stage</th>
              <th scope="col">Type Stage</th>
              <th scope="col">id Promoteur</th>
              <th scope="col">option</th>
            </tr>
          </thead>


        <tbody>
          {% for item in items %}
          <tr>
            <td>{{ item.nomStage }}</td>
            <td>{{ item.typeStage }}</td>
            <td>{{ item.idPromoteur }}</td>
            <td>
              <a
                class="btn  btn-sm mr-2 ModalEdit"
                data-popup-url="{% url 'dashboard-Stage-edit' item.id %}"
                data-toggle="modal"
                data-target="#editModal"
                >Edit</a
              >
              <a
                class="btn  btn-sm ml-2 ModalDelete"
                data-popup-url="{% url 'dashboard-Stage-delete' item.id %}"
                data-toggle="modal"
                data-target="#deleteModal"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <button
    type="button"
    class="btn  text-center mt-3 Ajouter"
    data-toggle="modal"
    style="font-size: 20px"
    data-target="#addModal"
  >
    Ajouter Stage
  </button>
</div>
<style>
  .stage {
    background-color: #88c0d0;
  }
  .form {
    background: transparent;

    height: 60px !important;
    padding: 0.5em;
    height: 320px;

    border-bottom: 1px solid #D8DEE9
;
   
    transition: all 0.2s ease-in-out;
    opacity: 95%;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }
  .form label {
    font-weight: 500;
    color: rgb(76, 86, 106);
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .form option {
    font-weight: 500;
    color: #ECEFF4;
    opacity: 0.7;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px white;
  }
  .form input {
    outline-style: none;
    border: 1px solid transparent;
    color: rgb(236, 239, 244);
    border-radius: 4px;
    /* padding: 0.5em 1em 0.5em 2em; */
    /* background-color: rgb(46, 52, 64); */
    background: #81A1C1;
    font: inherit;
    font-size: 1.125rem;
    padding: 4px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    transition: border-color 100ms ease-in-out 0s, color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
    /* text-align: center; */
  }
  .form select {
   

    outline-style: none;
    border: 1px solid transparent;
    color: rgb(236, 239, 244);
    border-radius: 4px;
 
    /* background-color: rgb(46, 52, 64); */
    background: #81A1C1;
    font: inherit;
    font-size: 1.125rem;
    padding: 4px 50px ;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    transition: border-color 100ms ease-in-out 0s, color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
    text-align: center;

  }
  .button{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    border-radius: 0.25em;
    background: none rgb(136, 192, 208);
    padding: 0.45em 1em;
    user-select: none;
    line-height: 1.15;
    color: rgb(59, 66, 82);
}
.button:hover{
  transition: background-color 200ms ease-in 0s, border-color 200ms ease-in 0s, box-shadow 200ms ease-in 0s, color 200ms ease-in 0s;
  background: #88C0D0;
}
table{
  border-radius: 50px!important; 
  background: transparent!important;
}
/* .table-head{
  background: #5E81AC!important;
  color: #ECEFF4!important;
  font-weight: 400;
    font-size: 1rem;
    border-radius: 50px;

} */

tbody{
  background: rgb(41, 46, 57);
  border-top: none;
  color:#ECEFF4!important; 
  
}
table td{
  border-top: 0px!important;
}
table th{
  border-top: 0px!important;

}
.table thead th{
  border-bottom: 0px;
  /* border-radius: 50px; */
  color: #ECEFF4!important;
  background: #5E81AC 

}
.head{
  border-radius: 50px;
  background: #BF616A 
}
.ModalEdit{
  color: #ECEFF4!important;
  background: #8FBCBB;
  font-size: 17px;
}
.ModalDelete{
  color: #ECEFF4!important;
  background: #BF616A
;
font-size: 17px;
}
.Ajouter{
  color: #ECEFF4!important;
  background: #5E81AC;
  
}
  
</style>
<script>
  $(".ModalEdit").on("click", function (e) {
    e.preventDefault();
    var $popup = $("#editModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
      $popup.modal("show");
    });
  });

  $(".ModalDelete").on("click", function (e) {
    e.preventDefault();
    var $popup = $("#deleteModal");
    var popup_url = $(this).data("popup-url");

    $(".modal-body", $popup).load(popup_url, function () {
      $popup.modal("show");
    });
  });
</script>
{% endblock %}
